i.fa{
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
}
.relative{
	position: relative;
}
#whiteboard{
  position: absolute;
  top: 50px;
  left: 50px;
	width: 100%;
	height: 100%;
}
.size{
	position: relative;
}
.size ul{
	position: absolute;
	top: 12px;
	left: 0;
	z-index: 9999
}
#input{
	position: absolute;
	display: none;
}
#drawController i {
	width: 40px;
	height: 40px;
	text-align: center;
	position: relative;
}
#drawController i::before{
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	font-size: 20px;
	width: 20px;
	height: 20px;
}
#drawController i.active{
	background-color: #6f5499;
	border-radius: 90px;
	color: #fff
}
#chooseColor{
  margin-top: -30px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}